name: release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build
        run: |
          chmod +x ./gradlew
          ./gradlew --no-daemon jar jarAndroid

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: BEK-Tools
          path: |
            build/libs/BEK-Tools.zip
            build/libs/BEK-Tools.jar

      - name: GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/libs/BEK-Tools.zip
            build/libs/BEK-Tools.jar
          generate_release_notes: true
